################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ClimbingProject/FileContentIndex/219ab371-7536-432c-86cf-db034341d565.vsidx
/.vs/ClimbingProject/FileContentIndex/86b9983d-a3b2-45f0-8c92-2c0f506cfe2d.vsidx
/.vs/ClimbingProject/FileContentIndex/c1242ddb-f5ad-44e7-b83b-02303f7c9b8e.vsidx
/.vs/ClimbingProject/FileContentIndex/e0e51088-4ba3-41eb-a464-5732da48689b.vsidx
/.vs/ClimbingProject/FileContentIndex/f5ccbddf-cd2c-4d46-a713-9a7867baf3aa.vsidx
/.vs/ClimbingProject/FileContentIndex/fa00f5ce-7642-4c69-b97b-e5868c2fe43e.vsidx
/.vs/ClimbingProject/FileContentIndex/fbe86e28-8ce3-4b46-bc02-c6e654e48e91.vsidx
/.vs/ClimbingProject/FileContentIndex/f322bdad-b707-494a-b22f-9f24aa81d5a9.vsidx
/.vs
/.vs/ClimbingProject/v17/.wsuo
/.vs/slnx.sqlite
/.vs/ClimbingProject/v17/.wsuo
/ClimbingProject/obj/Debug/ClimbingProject.csproj.AssemblyReference.cache
/ClimbingProject/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/ClimbingProject/obj/Release/ClimbingProject.csproj.AssemblyReference.cache
